
*.Plo

*.o

*.lo

*.Po

*.so

*.0

*/\.libs/

rcsc/coach/\.libs/

rcsc/gz/\.libs/

rcsc/monitor/\.libs/

rcsc/net/\.libs/

rcsc/param/\.libs/

rcsc/player/\.libs/

rcsc/rcg/\.libs/

rcsc/util/\.libs/

rcsc/action/\.libs/

rcsc/\.libs/

rcsc/geom/\.libs/

*.la

rcsc/geom/triangle/\.libs/

rcsc/common/\.libs/

rcsc/trainer/\.libs/

rcsc/time/\.libs/

src/rclmtableprinter

src/rcgverconv

src/rcgreverse

src/rcgresultprinter

src/rcgrenameteam

src/rcgversion

src/rcg2txt

src/rclmscheduler

stamp-h1

src/Makefile

rcsc/util/Makefile

rcsc/time/Makefile

rcsc/gz/Makefile

rcsc/Makefile

rcsc/monitor/Makefile

rcsc/net/Makefile

rcsc/param/Makefile

rcsc/player/Makefile

rcsc/rcg/Makefile

Makefile

autom4te\.cache/requests

config\.h

config\.log

config\.status

Doxyfile

librcsc-config

librcsc\.pc

librcsc\.spec

librcscenv

libtool

\.idea/
